/*
  Client: Sadguru;
  Company:Four Bothers Software Solution;
  Author: Nabeel;

*/

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
    border-top: 2px solid red;
  border-bottom: 2px solid red;
}

a {
  color: #1e1e1e;
}


.btn-link {
  color: #ed1b24;
}

.btn-link:hover {
  color: #cc1f00;
}

.btn-primary {
 
    background: #cc1f00;
    font-weight: bold;
    color: white;
    border: 0 none;    
    cursor: pointer;
    padding: 10px 5px;

}
.btn-primary:hover, .btn-primary:focus {
    background: #fefefe;
    color: #cc1f00;
    border: 0 none;    
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navstyle .navbar-brand {
  height: 100px;
}

.navstyle .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
 }
.navstyle .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar {
  margin-bottom: 0px;
  border-top: 2px solid red;
}
.navbar-nav>li>.dropdown-menu {
 /* margin-top: 20px;*/
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-nav>li>a {
  width: 150px;
  font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: #ed1b24;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ed1b24;
}


.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: underline;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }

  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  








.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 60%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  right: 60px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  right: 58px;
  z-index: 8;
}

.mega-dropdown-menu:hover>a:after {
    border-left-color:#555;
 }

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #cc1f00;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

/* banner form styles*/





.icon-div {
  position: relative;
  width: 60%;
  /*border: 1px solid #333;*/
  margin: 20%;
  overflow: hidden;
}
.icon-div img {
   width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-div:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.padding30px {
  padding:30px
}

.padding10px {
  padding:10px
}


.testimonial_subtitle{
    color: #cc1f00;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #ed1b24;
    margin: 7px 0 10px 0;
}

 hr.seprator {
    height: 2px;
    width: 56px;
    background-color: #ed1b24;
    margin: 7px 0 10px 48%;
}



.bg-banner {
  background-image: url('../images/banner/why.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


#myFooter {
  background-color: #3e3e3e;
  color:white;
}

#myFooter .footer-copyright{
  background-color: #2b2b2b;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
}

#myFooter .footer-copyright p{
  margin:10px;
  color: #ccc;
}

#myFooter ul{
  list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
  font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
  color:#d2d1d1;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
  text-decoration: none;
  color:white;
}

#myFooter .myCols{
  text-align: center;
}

#myFooter .social-networks{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
  text-decoration: none;

}

#myFooter .facebook:hover{
  color:#0077e2;
}

#myFooter .google:hover{
  color:#ef1a1a;
}

#myFooter .twitter:hover{
  color: #00aced;
}

#myFooter .linkedin:hover{
  color: #0077b5;
}

@media screen and (max-width: 767px){
  #myFooter {
    text-align: center;
  }
}

.elegantshadow {

  color: #131313;
  letter-spacing: .15em;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 8px 8px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
}

.text-theme {
  color: #cc1f00;
}

.newsletter {
  background: rgba(237,27,37,1);
    background: -moz-linear-gradient(left, rgba(237,27,37,1) 0%, rgba(214,168,163,1) 99%, rgba(214,168,163,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,27,37,1)), color-stop(99%, rgba(214,168,163,1)), color-stop(100%, rgba(214,168,163,1)));
    background: -webkit-linear-gradient(left, rgba(237,27,37,1) 0%, rgba(214,168,163,1) 99%, rgba(214,168,163,1) 100%);
    background: -o-linear-gradient(left, rgba(237,27,37,1) 0%, rgba(214,168,163,1) 99%, rgba(214,168,163,1) 100%);
    background: -ms-linear-gradient(left, rgba(237,27,37,1) 0%, rgba(214,168,163,1) 99%, rgba(214,168,163,1) 100%);
    background: linear-gradient(to right, rgba(237,27,37,1) 0%, rgba(214,168,163,1) 99%, rgba(214,168,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1b25', endColorstr='#d6a8a3', GradientType=1 );
}

.newsletter h6 {
  color: #fefefe;
  font-size: 20px;
}

.newsletter input {
  padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;

    width: 100%;
    box-sizing: border-box;

    color: #2C3E50;
    background-color: #fff;

}
.newsletter button {
 width: 100px;
    background: #cc1f00;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;

}
.newsletter button:hover, .newsletter button:focus {
    box-shadow: 0 0 0 2px #d99491, 0 0 0 3px #cc1f00;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
  background-color: #ed1b24;
}

.absolute_content {
  position: absolute;
  top: 185px;
  right: 510px;
}

.content-bg {
  background: rgba(0,0,0,0.7);
  width: 350px;
  height: 370px;
  overflow-y: scroll;
  padding: 10px;
  color: white;
}

.right_content {
  margin-top: 15px;
  font-weight: 500;
}

.right_content i {
  color: #cc1f00;
}




.tab {

  position: relative;
  background: rgba(0,0,0,0.7);
  width: 40%;
  
 
  /*margin: 0 auto;*/
  line-height: 1.0;
  font-weight: 300;
  color: #fefefe;
  -webkit-font-smoothing: antialiased;
}

.tab_content {  
  overflow-y: scroll;
  height: 350px;
 /* background: rgba(0,0,0,0.7);*/
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  
}

.tabs li {
  float: left;
  width: 25%;
  overflow: hidden;
  padding-right: 2px;
  position: relative;

}

.tabs a {
  background-color: #eff0f2;
  color: #888;
  font-weight: 500;
  line-height: 20px;
  display: block;
  letter-spacing: 0;
  text-align: center;
  outline: none;
  padding: 5px 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #ed1b24;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}

.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: #ed1b24;
  border-bottom: 2px solid #fefefe;
}

.input-required{
	background-color: #c6666a !important;
	color:#fff;
}

.input-required::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.input-required::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.input-required:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.input-required:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

/*inputs*/
#form {
  width: 95%;
  padding:10px;
  background: #fefefe;
}
#form label {
  color: #1e1e1e;
}
#form input, #form textarea{
    /*padding: 18px;*/
    border: 1px solid #ccc;
    border-radius: 0px;

    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;

    background-color: #fff;
    font-size: 13px;
}

#form select {
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 13px;
}

#form button {
 width: 100px;
    background: #cc1f00;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;

}
#form button:hover, #form button:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #cc1f00;
}

#form .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#form .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}
#form .input-group-addon {
 background-color: #c5c5f1;

}
  .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
        margin: 0 10px 0 0;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #ed1b24;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
        color: #1e1e1e;
        height: 250px;
        overflow-y: scroll;
    }

    .panel-default h5 {
      color: #212121;
      font-weight: bold;
      text-decoration: underline;
    }

    .panel-default ol li {
      margin: 0 0 0 10px;
    }

.absolute_form {
  position: absolute;
  top: 120px;
  right: 10px;
}
@media screen and (max-width: 767px){
  .absolute_form {
    position: relative;
    top: 0px;
    right: 0px;
  }
  
  .tab {
    position: relative;
    background : url('../images/banner/deep_clean.jpeg');
    background-size: cover;
    background-position: center;  
    width: 100%;
    line-height: 1.5;
    font-weight: 300;
    color: #fefefe;
    -webkit-font-smoothing: antialiased;
  }

  .tab_content {  
    overflow-y: scroll;
    height: 390px;
    background: rgba(0,0,0,0.7);
  }

  .tabs li {
    float: left;
    width: auto;
    overflow: hidden;
    padding-right: 2px;
    position: relative;
  }

  .tabs a {
    background-color: #eff0f2;
    color: #888;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    letter-spacing: 0;
    text-align: center;
    outline: none;
    padding: 8px 10px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #ed1b24;
  }
  .current a {
    color: #fff;
    background: #ed1b24;
    border-bottom: 2px solid #fefefe;
  }
  .tabs_item {
    display: none;
    padding: 5px 0;
  }
  #form {
    width: 100%;
    padding:10px;
    background: #fefefe;
  }  
}